data/od_cars/
data/*.mp4
data/*Zone.Identifier
data/od_dbg/
data/test/
data/od_cars.zip
utils/__pycache__/
output.*
__pycache__/
weights/*Zone.Identifier
weights/vgg16_reducedfc.pth
weights/mb2-imagenet-71_8.pth
weights/mb2-ssd-lite-mp-0_686.pth
weights/mobilenet-v1-ssd-mp-0_675.pth
weights/mb2-ssd-lite-mp-0_686_classes.txt
weights/mb2-ssd-lite-mp-0_686_classes.txt
test/
test.ipynb
test2.ipynb
test.pu
data/*.zip
