data/od_cars/
data/*.mp4
data/*Zone.Identifier
weights/*Zone.Identifier
utils/__pycache__/
output.cpu/
output.cuda/
__pycache__/
test.ipynb
test2.ipynb
data/od_dbg/
weights/vgg16_reducedfc.pth
test.pu
output.cuda*
output.cpu*
